<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/authors"><button>See authors</button></a>
    <a href="/authors/filter"><button>Search authors by language</button></a>
  </body>
</html>
