<!DOCTYPE html>
<html>
<head>
    <title>Filter</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title"></h1>Filter</h1>
<form name="author" method="POST" action="/authors/filter">
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>The author’s language</td>
            <td><input type="text" id="author-language" name="author-language" value=<%= values.language %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "language").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Search"></td>
        </tr>
    </table>
</form>
</body>
</html>